<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>CLIENTES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="ion-padding">

      <!-- Theme classes dark, material, bootstrap -->
      <ngx-datatable
        class="material"
        [limit]="10"
        [rows]="rows"
        [rowHeight]="50"
        [columns]="columns"
        [columnMode]="'force'"
        [sortType]="'multi'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarV]="true" [scrollbarH]="true">

        <ngx-datatable-column name="#" sortable="false" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="Nome" sortable="false" prop="nome"></ngx-datatable-column>
        <ngx-datatable-column name="Email" sortable="false" prop="email"></ngx-datatable-column>
        <ngx-datatable-column name="Telefone" sortable="false" prop="telefone"></ngx-datatable-column>
        <ngx-datatable-column name="Data de Nascimento" sortable="false" prop="dt_nascimento"></ngx-datatable-column>
        <ngx-datatable-column name="Ações" sortable="false" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

            <ion-buttons>
              <ion-button (click)="updateOpenModal(row)"><ion-icon name="create"></ion-icon></ion-button>
              <ion-button (click)="deleteData(row.id)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-buttons>

      </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>




    </div>
    <ion-button color="success" expand="full" (click)="openModal()">Adicionar novo Cliente</ion-button>
  </ion-content>


    <ion-footer>
      <ion-toolbar>

      </ion-toolbar>
    </ion-footer>
  </ion-app>



